.body {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
}

.titre { 
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.nav__lien, .about__lien, .lirePlus {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;

    &:hover {
        cursor: pointer;
    }
}