.footer {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

    .liste--ul {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
}

.footer__lien,
.footer__lien:visited,
.footer__svg {
    color: black;
    fill: black;

    &:hover,
    &:focus,
    &:active {
        color: rgb(129, 114, 123);
        fill: rgb(129, 114, 123);
        outline: none;
    }
}
.credits {
    color: black;
}

.reseaux__texte {
    display: none;
}

.listeLiens__el,
.subNav__el {
    padding-right: 10px;
}

.footer__liens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__small {
    text-align: end;
    font-size: 14px;
}