.main {
    max-width: 768px; /* Limite maximale pour la largeur du main */
    margin: 0 auto; /* Centre le main horizontalement */
    padding: 0 0; /* Padding horizontal pour ajouter de l'espace */
    background-color: red;
}


.titre--big {
    text-align: center; /* Centre le titre horizontalement */
    font-size: 3.38em;
    margin: 5.06rem 2.25rem 3.38rem 2.25rem;
}

.titre--medium {
    font-size: 2.25em;
    text-align: center; /* Centre le titre horizontalement */
    margin: 3.38rem 2.25rem 3.38rem 2.25rem;
}

.about {
    width: 100vw;
    z-index: 3;
    position: relative;
}

.about__image {
    width: 100%;
    z-index: 3;
    position: relative;
}

.lien__formeBouton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;

    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.44rem 1.50rem;
    text-decoration: none;
    font-size: 1.50rem;
    text-transform: uppercase;
    font-weight: 700;

    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: white;
        background-color: black;
    }
}