.main {
    max-width: 1200px; /* Limite maximale pour la largeur du main */
    margin: 0 auto; /* Centre le main horizontalement */
    padding: 0 20px; /* Padding horizontal pour ajouter de l'espace */
    background-color: red;
}


.titre--big {
    text-align: center; /* Centre le titre horizontalement */
    font-size: 3.38em;
    margin: 2rem 0;
}

.titre--medium {
    margin: 2rem 0;
    font-size: 2.25em;
}

.div {
    box-sizing: border-box;
}

.about,
.projets {
    width: 100vw; /* Force la largeur à 100% de la vue */
    margin-left: calc(-50vw + 50%); /* Centre l'élément en utilisant une astuce de margin */
    position: relative;
}

.about__image {
    display: block;
    position: relative; /* Relative positioning for the image parent */
}


.lien__formeBouton {
    position: absolute;
    font-size: 1.5em;
    top: 1rem;
    left: 1rem;
    color: black;
    border: 1px solid black;
    padding: 0.44rem 2.25rem;
    text-decoration: none;
    border-radius: 2.25rem;
    text-transform: uppercase;
    font-weight: bolder;

    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
        border: 1px solid black;
        background-color: black;
        color: white;
    }
}