.main, .footer {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2.25rem;
}

.main--about {
    display: grid;
    grid-template-columns: 90%;
    margin: 0 auto; /* Centre horizontalement */
    flex-direction: column; 
    justify-content: center;
}

@media (min-width: 768px) {
    .main {
        display: grid;
        max-width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .titre--big {
        grid-column: 1 / -1;
    }

    .about {
        grid-column: 1 / 2;
    }
    .projets {
        grid-column: 2 / -1;
    }

    .grille {
        grid-column: 1 / -1;
    }
}