/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
body {
  font-family: "Instrument Sans", sans-serif;
  background-color: #FBFBFA;
}

.header {
  position: relative;
  overflow-x: hidden;
  font-family: "Bruno Ace SC", cursive;
  height: 100vh;
}
.header .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(2px);
}
.header .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 80vw;
  z-index: 1;
}
.header .container .titre {
  font-family: "Racing Sans One", cursive;
  font-style: italic;
  transform: rotate(-7deg);
  font-size: 60px;
  margin-bottom: 40px;
  line-height: 1.5;
  text-shadow: black 1px 2px 4px;
}
.header .container .texte {
  font-size: 26px;
  line-height: 1.2;
  text-shadow: black 1px 1px 2px;
}

.main .section {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.main .section .titre--h2 {
  font-family: "Nerko One", cursive;
  color: #8477ba;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 14px;
  text-align: center;
}
.main .section:nth-child(2n) {
  color: white;
  border-radius: 15px;
  box-shadow: #564f7a 0px 0px 20px;
}
.main .section:nth-child(2) {
  background-color: #19152b;
}
.main .section:nth-child(4) {
  background-color: #1f2617;
}
.main .section:nth-child(6) {
  background-color: #261f17;
}
.main .section:nth-child(8) {
  background-color: #251726;
}
.main .section:last-child {
  border-radius: 15px 15px 0px 0px;
}
.main .section .titre--h3 {
  font-style: none;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 11px;
  text-decoration: none;
  font-style: italic;
  text-decoration: underline;
}
.main .section .texte {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.main .section .liste {
  margin-bottom: 18px;
  font-size: 16px;
  margin-left: 5%;
}
.main .section .liste .liste__el {
  line-height: 1.3;
  margin-top: 7px;
  margin-bottom: 7px;
}
.main .section .liste .liste__el::before {
  content: "->";
  padding-right: 8px;
}
.main .section .liste .liste--ol {
  margin-left: 10%;
}
.main .section .liste .liste--ol .liste__el::before {
  content: "->";
  padding-right: 8px;
}
.main .section .image-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Ratio d'aspect 16:9 (Modifier selon vos besoins) */
  overflow: hidden;
  position: relative;
}
.main .section .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.7s ease;
}
.main .section .image-container .image:hover {
  transform: scale(1.4);
}

.redirection {
  color: #8477ba;
}

.footer {
  background-color: #251726;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.footer .liste--ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.footer .liste--ul .reseaux__texte {
  display: none;
}
.footer .liste--ul .listeLiens__el, .footer .liste--ul .subNav__el {
  padding-right: 10px;
}
.footer a, .footer a:visited, .footer .svg {
  color: white;
  fill: white;
}
.footer a:hover, .footer a:focus, .footer a:active, .footer a:visited:hover, .footer a:visited:focus, .footer a:visited:active, .footer .svg:hover, .footer .svg:focus, .footer .svg:active {
  color: rgb(129, 114, 123);
  fill: rgb(129, 114, 123);
  outline: none;
}
.footer .credits {
  color: white;
}

.footer__liens {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__small {
  text-align: end;
  font-size: 14px;
}/*# sourceMappingURL=app.css.map */