/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

body {
    font-family: 'Instrument Sans', sans-serif;
    background-color: #FBFBFA;
}

.header {
    position: relative;
    overflow: hidden;
    font-family: 'Bruno Ace SC', cursive;
    height: 100vh;
    transform: scale(1);
    z-index: 20;

    .image--header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px);
    }

    &:hover .image--header {
        transform: scale(1.5);
        transition: transform 1s ease;
    }
    &:not(:hover) .image--header {
        transition: transform 1s ease;
    }
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 80vw;
    z-index: 15;
}

.titre--header {
    font-family: 'Racing Sans One', cursive;
    font-style: italic;
    transform: rotate(-7deg);
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1.5;
    text-shadow: black 1px 2px 4px;
}

.texte--header {
    font-size: 26px;
    line-height: 1.2;
    text-shadow: black 1px 1px 2px;
}


.section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

    &:nth-child(2n) {
        color: white;
        border-radius: 15px;
        box-shadow: #564f7a 0px 0px 20px;

        .image {
            box-shadow: #3d365c 0px 0px 15px;
        }
    }
    &:nth-child(even) {
        background-color: #19152b;
    }

    &:last-child {
        border-radius: 15px 15px 0px 0px;
    }

}
.section {
    opacity: 0;
    transition: opacity 1.5s ease, transform 1s ease;
    transform: translateY(-200px);
}
.section.visible {
    opacity: 1;
    transform: translateY(0);
}
.section:first-of-type {
    z-index: 10;
}
.section:nth-of-type(2) {
    z-index: 9;
}
.section:nth-of-type(4) {
    z-index: 8;
}
.section:nth-of-type(5) {
    z-index: 7;
}
.section:nth-of-type(6) {
    z-index: 6;
}
.section:nth-of-type(7) {
    z-index: 5;
}
.section:nth-of-type(8) {
    z-index: 4;
}
.section:nth-of-type(9) {
    z-index: 3;
}
.section:nth-of-type(10) {
    z-index: 2;
}

.titre--h2 {
    font-family: 'Nerko One', cursive;
    color: #8477ba;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 14px;
    text-align: center;
}

.titre--h3 {
    font-style: none;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 11px;
    text-decoration: none;
    font-style: italic;
    text-decoration: underline;
}

.texte {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 18px;
}

.liste {
    margin-bottom: 18px;
    font-size: 16px;

    .liste__el {
        line-height: 1.3;
        margin-top: 7px;
        margin-bottom: 7px;

        &::before {
            content: "->";
            padding-right: 8px;
        }
    }

    .liste--ol {
        .liste__el {
            &::before {
                content: "->";
                padding-right: 8px;
            }
        }

        margin-left: 5%;
    }
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: rgb(155, 155, 155) 0px 0px 15px;
}

.redirection {
    color: #8477ba;
    &:hover {
        color: #a397d1;
    }
}

.footer {
    background-color: #19152b;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

    .liste--ul {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        .reseaux__texte {
            display: none;
        }

        .listeLiens__el,
        .subNav__el {
            padding-right: 10px;
        }
    }

    a,
    a:visited,
    .svg {
        color: white;
        fill: white;

        &:hover,
        &:focus,
        &:active {
            color: rgb(129, 114, 123);
            fill: rgb(129, 114, 123);
            outline: none;
        }
    }

    .credits {
        color: white;
    }
}

.footer__liens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__small {
    text-align: end;
    font-size: 14px;
}


/*****************/
/* MEDIA QUERIES */
/*****************/
@media (min-width: 601px) {
    .header {
        picture {
            max-width: 100%;
            height: auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .titre--header {
        font-size: 70px;
    }

    .texte--header {
        font-size: 30px;
    }


    .titre--h2 {
        font-size: 60px;
    }

    .titre--h3 {
        font-size: 25px;
    }

    .texte {
        font-size: 22px;
    }

    .liste__el {
        font-size: 20px;
    }

    .footer a {
        font-size: 16px;
        width: 25px;
    }
}

@media (min-width: 800px) {
    .section {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        &:nth-child(2n) {
            border-radius: 0px;
        }
    }
    .container--image {
        margin-top: 5%;
        width: 70%;
        justify-self: center;
    }
}

@media (min-width: 1000px) {
    .section {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
    }
    .container--image {
        width: 70%;
        justify-self: center;
    }
}

@media (min-width: 1200px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .container--image {
        width: 70%;
        justify-self: center;
    }
    .titre--h2 {
        grid-column: 1 / -1;
        grid-row: 1;
    }
    .titre--h3 {
        grid-row: 2;
    }
    .section__texte, .container--image {
        grid-row: 3;
        align-self:flex-start;
    }
    .section__texte--seconde {
        margin-top: 3%;
        grid-row: 4;
        grid-column: 1 / -1;
    }
    .section--sansImage .section__texte {
        grid-column: 1 / -1;
    }

    .section__texte--sansImage {
        margin-top: 3%;
        grid-row: 4;
        grid-column: 1 / -1;
    }
    .section__texte--sansImage:last-of-type {
        grid-row: 5;
    }
}
@media (min-width: 1600px) {
    .titre--h2 {
        margin-bottom: 5%;
        font-size: 70px;
    }
    .titre--h3 {
        font-size: 28px;
    }
    .section__texte {
        font-size: 24px;
        max-width: 700px;
    }
    .container--image {
        margin-top: 0;
    }

    .section {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .section__texte--sansImage {
        justify-self: center;
    }
    .titre--sansImage {
        margin-left: 295px;
    }

    .footer {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 15%;
        padding-right: 15%;
        box-sizing: border-box;    
        border-top: 1px solid #2f2949;

        .liste--ul {
            .listeLiens__el,
            .subNav__el {
                padding-right: 30px;
            }
        }
    }

    .titre--header {
        font-size: 150px;
        margin-bottom: 40px;
        line-height: 1.5;
    }
    
    .texte--header {
        font-size: 40px;
        line-height: 1.2;
        text-shadow: black 1px 1px 2px;
    }

}

/*
@media (min-width: 800px) {    
    .section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &:nth-child(2n) {
            border-radius: 30px;
        }
        &:last-child {
            border-radius: 30px 30px 0px 0px;
        }

        &:nth-of-type(2n) .container--image {
            grid-column: 2 / -1;
        }
    }
    .titre--h2 {
        grid-column: 1 / -1;
        grid-row: 1;
    }
    .titre--h3 {
        grid-column: 1 / -1;
        grid-row: 2;
    }
    .section__texte {
        grid-column: 1 / -1;
        grid-row: 3;
    }
    .section__texte:nth-of-type(2) {
        grid-row: 4;
    }

    .section__texte--seconde {
        grid-column: 1 / -1;
        grid-row: 6;
    }

    .image {
        width: 500px;
        height: auto;
    }
    .image--seconde {
        grid-row: 5;
    }
}

@media (min-width: 1000px) {    
    .titre--header {
        font-size: 90px;
    }

    .texte--header {
        font-size: 40px;
    }
    .section {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        &:nth-child(2n) {
            border-radius: 30px;
        }
        &:last-child {
            border-radius: 30px 30px 0px 0px;
        }
    }
    .titre--h2 {
        grid-column: 1 / -1;
        grid-row: 1;
    }
    .titre--h3 {
        grid-column: 1 / -1;
        grid-row: 2;
    }
    .section__texte {
        grid-column: 1 / 4;
        grid-row: 3;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .container--image {
        grid-column: 5 / -1;
    }
    .section {
        &:nth-of-type(2n) .container--image {
            grid-column: 1 / 4;
            grid-row: 3;
        }
        &:not(.section--sansImage):nth-of-type(2n) .section__texte, &:not(.section--sansImage):nth-of-type(2n) .titre--h3 {
            grid-column: 5 / -1;
        }
    }

    .section--sansImage .section__texte, .section--sansImage .titre--h3 {
        grid-column: 2 / -2;
    }

    .section--hypotheses h3,  .section--hypotheses .section__texte, .section--modules .section__texte, .section--faits .section__texte, .section--conclusion .section__texte{
        grid-column: 1 / -1 !important;
    }

    .footer {
        padding-top: 9%;
        padding-bottom: 9%;
        padding-left: 10%;
        padding-right: 10%;
        box-sizing: border-box;
    
        .liste--ul {
            .listeLiens__el,
            .subNav__el {
                padding-right: 30px;

                svg {
                    transform: scale(1.5);
                }
                a {
                    font-size: 25px;
                }
            }
        }
    
    }
    
    .footer__liens {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .footer__small {
        text-align: end;
        font-size: 14px;
    }
}

@media (min-width: 1600px) {    
    .titre--header {
        font-size: 100px;
    }

    .texte--header {
        font-size: 50px;
    }

    .titre--h2 {
        margin-bottom: 75px;
        grid-column: 3 / -3;
    }
    .titre--h3 {
        margin-bottom: 50px;
        grid-column: 2 / 7;
        grid-row: 2;
    }
    .texte:not(.texte--header) {
        margin-bottom: 50px;
    }

    .section {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        padding-top: 9%;
        padding-bottom: 9%;

        &:nth-child(2n) {
            border-radius: 30px;
        }
        &:last-child {
            border-radius: 30px 30px 0px 0px;
        }
    }
    .section__texte {
        grid-column: 2 / 7;
        grid-row: 3;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .container--image {
        grid-column: 8 / -2;
        grid-row: 3;
    }
    .section {
        &:nth-of-type(2n) .container--image {
            grid-column: 2 / 7;
            grid-row: 3;
        }
        &:not(.section--sansImage):nth-of-type(2n) .section__texte, &:not(.section--sansImage):nth-of-type(2n) .titre--h3 {
            grid-column: -2 / 8;
        }
    }

    .section--sansImage .section__texte, .section--sansImage .titre--h3 {
        grid-column: 4 / -4;
    }

    .footer {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 15%;
        padding-right: 15%;
        box-sizing: border-box;    
        border-top: 1px solid #2f2949;

        .liste--ul {
            .listeLiens__el,
            .subNav__el {
                padding-right: 60px;
            }
        }
    }

    .section--hypotheses h3,  
    .section--hypotheses .section__texte, 
    .section--faits .titre--h3, .section--modules .section__texte, .section--faits .section__texte, .section--conclusion .section__texte, .section--premices .section__texte--seconde {
        grid-column: 3 / -3 !important;
    }
}
*/